<h1> <%= @recipe.name %> </h1>

<h2> Ingredients: </h2>
<%= @recipe.ingredients %>

<h3> Cook Time: </h3>
<%= @recipe.cook_time %>

<form method="post" action ="/recipe/<%= @recipe.id %>">
  <input type="hidden" name="_method" value="delele">
  <input type="submit">

</form>
